@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor1:#fff ;
    --cor2:#8e37ccb6;
}
body {
    font-family: Arial, Helvetica, sans-serif;
   background-color: #fff;
}
header > h1 {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor1) );
    text-align: center;
    padding: 5px;
}
main {
    background-color:#fff ;
    max-width: 1100px;
    min-width: 350px;
    margin: auto;
}
p {
    text-align: justify;
    line-height: 1.5em;
    text-indent: 30px;
}

main img {
    display: block;
    max-width: 700px;
    min-width: 300px;
    margin: auto;
}
.config1 {
    padding-top:0px ;
}
#zumbadefinition {
    padding: 30px 0px 30px 0px;
}
main p {
    padding: 30px 0px 25px 0px;
}
#titlepószumbaimg {
    margin-top: 70px;
}
#aviso {
    margin: 20px 0px 20px 0px;
}
.tilconfig1 {
    margin: 20px 0px 20px 0px;
}
footer {
    
    margin: auto;
    background-image: linear-gradient(to top, var(--cor2), var(--cor1) );
  
}
footer > p {
    text-align: center;
    margin: 20px 0px 0px 0px;
    padding: 20px;
   
}
ul {
    list-style-position: inside;
    padding: 30px 0px 30px 0px;
    line-height: 1.9em;
}